<!DOCTYPE html>
<html>
  <head>
    <title><%= visitor_name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= visitor_name %></h1>
    <p>Welcome to <%= visitor_name %></p>
    <p>
      {<br />
      "client_ip": "127.0.0.1",<br />
      "location": "<%= location %>", <br />
      "greeting": "Hello, <%= visitor_name %>!, the temperature is <%=
      temperature %> degrees Celcius in <%= location %>" <br />}
    </p>
  </body>
</html>
